In [17]:
import pandas as pd

combined_df = pd.DataFrame()

csv_files = ['amsterdam_weekdays.csv',
         'athens_weekdays.csv',
         'barcelona_weekdays.csv',
         'berlin_weekdays.csv',
         'budapest_weekdays.csv',
         'lisbon_weekdays.csv',
         'london_weekdays.csv',
         'paris_weekdays.csv',
         'rome_weekdays.csv',
         'vienna_weekdays.csv']

combined_df = []
directory = 'air_bnb_data/'

for file_name in csv_files:
    city_name = file_name.split('_')[0]
    df = pd.read_csv(f"{directory}{file_name}")
    df.insert(0, 'city', city_name)
    combined_df.append(df)
    
combined_df = pd.concat(combined_df)

In [18]:
print(combined_df.shape)

(25500, 21)

In [19]:
print(combined_df.columns)

Index(['city', 'Unnamed: 0', 'realSum', 'room_type', 'room_shared',
       'room_private', 'person_capacity', 'host_is_superhost', 'multi', 'biz',
       'cleanliness_rating', 'guest_satisfaction_overall', 'bedrooms', 'dist',
       'metro_dist', 'attr_index', 'attr_index_norm', 'rest_index',
       'rest_index_norm', 'lng', 'lat'],
      dtype='object')

In [20]:
combined_df.drop(columns=['Unnamed: 0'], inplace=True)

In [22]:
city_count = combined_df['city'].value_counts()
print(city_count)

city
london       4614
rome         4492
paris        3130
lisbon       2857
athens       2653
budapest     2074
vienna       1738
barcelona    1555
berlin       1284
amsterdam    1103
Name: count, dtype: int64

In [23]:
combined_df.head()

,city,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,amsterdam,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,amsterdam,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,amsterdam,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,amsterdam,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,amsterdam,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [24]:
combined_df.tail()

,city,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
1733,vienna,219.012224,Entire home/apt,False,False,4.0,False,0,0,8.0,80.0,0,0.298179,0.257904,851.189543,60.958556,593.167136,14.180090,16.37766,48.20875
1734,vienna,191.197438,Entire home/apt,False,False,4.0,False,0,1,10.0,100.0,2,1.052982,0.332054,195.654600,14.011946,305.781569,7.309930,16.37892,48.19973
1735,vienna,251.501765,Entire home/apt,False,False,2.0,False,0,0,8.0,86.0,1,0.810224,0.100844,204.967222,14.678876,342.177253,8.179995,16.38070,48.20296
1736,vienna,637.636444,Entire home/apt,False,False,2.0,False,0,0,10.0,93.0,1,0.994039,0.202537,169.074867,12.108419,282.299117,6.748565,16.38568,48.20460
1737,vienna,133.230489,Private room,False,True,4.0,True,1,0,10.0,93.0,1,1.263948,0.480922,150.449976,10.774584,225.245048,5.384646,16.39066,48.20811

In [26]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25500 entries, 0 to 1737
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   city                        25500 non-null  object
 1   realSum                     25500 non-null  float64
 2   room_type                   25500 non-null  object
 3   room_shared                 25500 non-null  bool
 4   room_private                25500 non-null  bool
 5   person_capacity             25500 non-null  float64
 6   host_is_superhost           25500 non-null  bool
 7   multi                       25500 non-null  int64
 8   biz                         25500 non-null  int64
 9   cleanliness_rating          25500 non-null  float64
 10  guest_satisfaction_overall  25500 non-null  float64
 11  bedrooms                    25500 non-null  int64
 12  dist                        25500 non-null  float64
 13  metro_dist                  25500 non-null  float64
 14  attr_index                  25500 non-null  float64
 15  attr_index_norm             25500 non-null  float64
 16  rest_index                  25500 non-null  float64
 17  rest_index_norm             25500 non-null  float64
 18  lng                         25500 non-null  float64
 19  lat                         25500 non-null  float64
dtypes: bool(3), float64(12), int64(3), object(2)
memory usage: 3.6+ MB

In [27]:
combined_df.isna().sum()

city                          0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64

In [28]:
combined_df.describe()

,realSum,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
count,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000,25500.000000
mean,275.681904,3.175529,0.293529,0.358745,9.389176,92.586549,1.165725,3.160597,0.680994,293.734519,13.265403,625.004708,23.499036,7.594875,45.568793
std,354.279644,1.308675,0.455388,0.479642,0.954920,8.964563,0.634562,2.385645,0.849603,223.797459,9.699020,500.614980,17.745870,9.827575,5.252706
min,37.129295,2.000000,0.000000,0.000000,2.000000,20.000000,0.000000,0.015059,0.003944,15.532918,0.926301,21.455803,0.667010,-9.226340,37.953000
25%,145.168856,2.000000,0.000000,0.000000,9.000000,90.000000,1.000000,1.433281,0.250707,135.310097,6.305256,246.196343,9.829716,-0.065040,41.393000
50%,207.148849,3.000000,0.000000,0.000000,10.000000,95.000000,1.000000,2.591957,0.415916,234.030980,11.330320,519.418450,17.726663,4.892140,47.502130
75%,311.390202,4.000000,1.000000,1.000000,10.000000,98.000000,1.000000,4.226353,0.742088,386.369921,17.231257,832.396771,33.411143,16.308532,51.465620
max,18545.450285,6.000000,1.000000,1.000000,10.000000,100.000000,10.000000,22.617451,13.314108,4512.595170,100.000000,5584.771840,100.000000,23.786020,52.641410